.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  background-color: #282c34;
  color: white;
}

h1 {
  font-size: 3rem;
}

.info-wrapper {
  font-size: 2rem;
}

.map-wrapper {
  font-size: 3rem;
}

.row {
  display: flex;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}

.circle {
  display: inline-block;
  height: 120px;
  width: 120px;
}

.circle-basic {
  background: url('/circle.png');
}

.circle-you {
  background: url('/circle-you.png');
}

.circle-exit {
  animation: spin infinite 20s linear;
  cursor: pointer;
}